body {
  font-family: Arial;
  margin: 0;
}

.layout {
  display: flex;
}

.sidebar {
  width: 220px;
  background: #111;
  color: white;
  padding: 20px;
  height: 100vh;
}

.sidebar button {
  width: 100%;
  margin: 5px 0;
}

.main {
  flex: 1;
  padding: 20px;
}

.login {
  width: 300px;
  margin: 100px auto;
  display: flex;
  flex-direction: column;
}

input, button {
  margin: 5px 0;
  padding: 8px;
}

.item {
  display: flex;
  justify-content: space-between;
  margin: 5px 0;
}